.Photo {
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #000;
  opacity: 0;
  transform: translateX(50%);
  transition: 0.2s ease-in;
}

.Photo img {
  width: 100%;
  height: auto;
}

.Photo-show {
  transform: translateX(0);
  opacity: 1;
}